// Spaces

.pl-1, .px-1 {
    padding-left: 0.25rem !important;
}

.pr-1, .px-1 {
    padding-right: 0.25rem !important;
}

.pl-2, .px-2 {
    padding-left: 0.5rem !important;
}

.pr-2, .px-2 {
    padding-right: 0.5rem !important;
}
.pl-3, .px-3 {
    padding-left: 1rem !important;
}

.pr-3, .px-3 {
    padding-right: 1rem !important;
}

.pl-4, .px-4 {
    padding-left: 1.5rem !important;
}

.pr-4, .px-4 {
    padding-right: 1.5rem !important;
}

.pl-4, .px-4 {
    padding-left: 3rem !important;
}

.pr-4, .px-4 {
    padding-right: 3rem !important;
}